*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(2, 2, 24);
    font: 1em poppins;
    font-size: 100%;
}

.center-div{
    width: 500px;
    margin: auto ;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.first-card{
    background: rgb(14, 14, 43);
    width: 300px ;
    margin: 100px 0;
    padding: 30px;
    border-radius: 5px 0 0 5px;
}
.word{
    color: rgb(129, 77, 136);
}
.text h2{
    font-size: 1em;
    color: rgb(235, 226, 226);
    width: 300px;
    padding: 10px 0;
}
.text p{
    font-size: 0.5em;
    color: rgb(167, 164, 164);
    width: 200px;
    padding: 5px 0;
}
.ratings{
   display: flex;
   justify-content: space-between;
    padding: 20px 0;
    color: rgb(235, 226, 226);
    font-size: 0.6em;
    width: 200px;
}

.ratings p{
    font-variant: small-caps;
    color: rgb(167, 164, 164);
}

.second-card img{
    height: 100%;
    border-radius: 0 5px 5px 0;
    width: 300px;
    display: flex;

    
}

@media only screen and (max-width: 1140px){
    .center-div{
        width: 500px;
        margin-top: 100px;
        flex-direction: column-reverse;
    
    }
    .first-card{
        margin: 0;
    }
    .text h2{
        text-align: center;
        width: 300px;
        padding-right: 50px;
        font-size: 1.3rem;
        font-weight: 600;
    }
    .text p{
        text-align: center;
        width: 200px;
        font-size: 0.69rem;
        font-weight: 300;
        padding-left: 40px;
    }
    .ratings{
        width: 300px;
        flex-direction: column-reverse;
        text-align: center;
        padding-right: 60px;
        font-size: 1rem;
        font-weight: 200;
    }

}